HUGGINGFACE_API_KEY=YOUR_HUGGINGFACE_API_KEY
DATABASE_URL=sqlite:///instance/dietbot.db
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
RAPIDAPI_KEY=YOUR_RAPIDAPI_KEY
NUTRITIONIX_APP_ID=YOUR_NUTRITIONIX_APP_ID
NUTRITIONIX_API_KEY=YOUR_NUTRITIONIX_API_KEY

OLLAMA_BASE_URL=http://localhost:11434
BACKEND_URL=http://localhost:8001


SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

